.menu {
	position: absolute;
	width: 100%;
	display: block;
	top: 40vh;
}

.menuItem {
	position: relative;
	text-align: center;
	display: block;
	width: 100%;
	margin: 20px auto;
	background-color: none;
	list-style-type: none;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-family: var(--text);
	font-weight: 900;
}

.menuItem a {
	text-decoration: none;
	color: #666;
}

.menuItem a:active {
	color: white;
}

.menuItem a:hover {
	color: #ccc;
}

.menuItem:active {
	color: white;
}

.img {
	position: absolute;
	width: 100%;
	top: 10vh;
	left: 0;
}

.profilePicture {
	position: relative;
	margin: auto;
	height: 150px;
	width: 150px;
	border-radius: 100px;
	border: var(--primaryShade1) 10px solid;
}
