@media (min-width: 260px) {
	.mainHeading {
		letter-spacing: 0.9px;
		line-height: 46px !important;
	}

	.heading {
		letter-spacing: 0.45px;
		line-height: 100%;
		font-family: SairaExtraCondensed-Bold;
		font-size: 30px;
	}

	.description {
		font-family: HiraMaruProN-W4;
		font-size: 1rem;
		line-height: 110%;
		letter-spacing: -0.43px !important;
	}
}

.date {
	color: var(--primaryColor);
}
