.collapsible {
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	background: transparent;
}

.content {
	max-width: 600px;
}

.heading::after {
	content: "+";
	margin-left: 10px;
}

.heading:hover {
	color: purple !important;
}

.clickedHeading::after {
	content: "-" !important;
}

@media (max-width: 320px) {
	.softSkill p {
		font-size: 0.875rem;
	}
	.bigHeading {
		line-height: 100%;
	}
}
