/* @media (max-width: 600px) {
	.content {
		width: 90%;
	}
}

@media (max-width: 800px) {
	.content {
		width: 80%;
	}
}

@media (min-width: 800px) {
	.content {
		width: 640px;
	}
} */

.content {
	margin: auto 0 auto;
	text-align: left;
}

.layout {
	background-color: var(--backgroundColor);
}

@media (min-width: 260px) {
	.layout {
		padding-left: 11.5px;
		padding-right: 11.5px;
	}

	h1,
	h2 {
		font-size: 3.75rem;
	}

	p {
		font-size: clamp(14px, 4vw, 18.4px);
		font-family: var(--text);
		letter-spacing: 0.21px;
	}
}

@media (min-width: 500px) {
	.layout {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media (min-width: 800px) {
	.layout {
		padding-left: 0px;
		padding-bottom: 200px;
	}

	.content {
		margin-left: clamp(250px, 30vw, 400px) !important;
	}
}
