* {
	margin: 0;
	padding: 0;
}

:root {
	--headings: "Saira Extra Condensed";
	--dates: "Barlow Condensed";
	--text: "Muli";
}

.layout {
	padding-bottom: 100px;
}

h1,
h2 {
	color: var(--secondaryColor);
}

h3 {
	font-size: 30px;
	color: var(--secondaryColor);
}

p {
	color: var(--textColor);
}

.uppercase {
	text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
	font-family: var(--headings);
}

.dates {
	font-family: var(--dates);
}

#HardSkills {
	padding-top: 100px;
	padding-bottom: 100px;
}

#SoftSkills {
	padding-top: 100px;
	padding-bottom: 100px;
}

.experiences {
	padding-bottom: 100px;
	padding-top: 100px;
}

.experience,
.softSkill {
	padding-top: 30px;
}

#About {
	padding-top: 120px;
	padding-bottom: 100px;
}
@media (min-width: 800px) {
	#About {
		padding-top: 50px;
	}
}

.active {
	color: white !important;
}

@media (min-width: 260px) {
	h1,
	h2 {
		font-size: 3.75rem;
	}

	p {
		font-size: clamp(14px, 4vw, 18.4px);
		font-family: var(--text);
		letter-spacing: 0.21px;
	}
}
