.hardSkill {
	display: inline-block;
	color: var(--textColor);
}

.section {
	text-align: left;
}

.progressBar {
	display: inline-block;
	margin: auto;
	height: 0.6875rem;
	border-radius: 4px;
	background: var(--textColor);
	overflow: hidden;
}

.animation {
	animation-duration: 2s;
	animation-name: progress;
}

.innerProgressBar {
	background: var(--primaryColor) !important;
	margin: 0 !important;
}

@keyframes progress {
	from {
		width: 0px;
	}
}

@media (min-width: 260px) {
	.progressBar {
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}

	.hardSkill {
		width: 100%;
		font-size: 1.5rem;
		font-weight: normal;
	}
}

@media (min-width: 500px) {
	.progressBar {
		display: inline-block;
		width: 60%;
		margin-left: 40px;
		height: calc((0.4) * 2rem);
		border-radius: 8px;
		vertical-align: middle;
	}
	.section {
		height: 2rem;
		margin-bottom: 32px;
		width: 100%;
	}

	.hardSkill {
		display: inline-block;
		width: 20%;
		font-size: 2rem;
		line-height: 100%;
	}

	.innerProgressBar {
		vertical-align: top;
	}
}

@media (min-width: 650px) {
	.progressBar {
		width: 346px;
	}

	.hardSkill {
		width: 118px;
	}
}
